#content {
  width: 100%;
  padding: 10px;
  transition: all 0.3s;
  background-color: #f2f2f2;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 0;
}

/* card styling */
.post-creator {
  font-family: "Dosis", sans-serif;
  font-size: 1.2em;
}

.post-card {
  width: 36em;
  background: white;
  border-radius: 3.5px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.heart-button:hover {
}

.heart-button:click {
}

.trashIcon:hover {
  color:#64748b;
}
