#search-res {
  font-size: xx-large;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-top: 1em;
  border-radius: 1em;
}

.home-page {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
}

.restaurant-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 20px;
  flex-basis: 100%;
  width: 100%;
}

.head-img {
  height: 35vh;
  object-fit: cover;
  width: 100vw;
}

.cardImage {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  object-fit: cover;
  flex-shrink: 1;
  padding-bottom: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  background-color: white;
  padding: 0;
  padding-bottom: 1em;
  margin: 30px;
  border-radius: 2%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  flex-basis: 300px;
  flex-shrink: 1;
}

.cardName {
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardRate {
  display: inline-block;
  /* background: #c9c2c2; 
  background: #ff8c8c;
  background-color: #f8995b; */
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  margin-right: 0.25rem;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rateAndButton {
  display: flex;
  margin-top: .6em;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.go-to-page {
  background: #ff8c8c;
  background-color: #f8995b;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin-right: 0.25rem;
}



.homeTab{
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  width: 200px;
  height: 80px;
  padding: 20px 20px 20px 20px;
  border-top: 2px rgb(0, 0, 0) solid;
  border-bottom: 2px rgb(0, 0, 0) solid;
  
}

.homeTab:hover{
  background-color: #ededed;
  color: rgb(0, 0, 0);
  border-top: 2px rgb(0, 0, 0) solid;
  border-bottom: 2px rgb(0, 0, 0) solid;

}

.homeTab.active{
  background-color: #ededed;
  color: rgb(0, 0, 0);
  border-top: 2px rgb(0, 0, 0) solid;
  border-bottom: 2px rgb(0, 0, 0) solid;
}

#restaurant-sub-nav:hover + .sub-nav{
  display: block;
  /* border: 10px black solid; */
}

.flex-row:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;  /* This is the height of the invisible bridge */
  bottom: 0;
  left: 0;
}
