#search-res {
    font-size: xx-large;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .6em;
    padding-bottom: .6em;
    border-radius: 1em;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
}