.outer {
  margin: 0;
  padding: 0;
}

.outer-body {
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  cursor: pointer;
  padding: 0 20px;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding-right:200px;
}


.box input {
  width: 150px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box .link .icon {
  color: lightcoral;
  font-size: 24px;
}
