.sub-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.settings-bar {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-direction: column;
    width: 15vw;
    min-height: 100vh;
    background-color: rgb(254, 234, 232);
    background-color: rgba(242,90,90,255);
    background-color: rgba(238,62,56,255);
}

.settings-list > * {
    border: solid;
    border-width: 2px 0px 0px 0px;
    padding: 20px 13px 20px 13px;
    width: 100%;
}

.settings-list > *:hover {
    background-color: rgb(179, 34, 34);
}

.settings-list > *:focus {
    background-color: rgb(153, 26, 26);
    padding-left: 50px;
}

.settings-list {
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-bar > * {
    font-size: x-large;
    color: white;
}
.settings-title {
    font-size: xx-large;
    border: solid;
    border-width: 2px 0 0 0;
    padding: 20px;
}

