.body {
  /* background-image: linear-gradient(79deg, #f14037, #eb694e 48%, #ed958f); */
  background-color: rgb(225, 64, 64);
  overflow-x: hidden;
}

.container {
  background: #fff;
  width: 540px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
  margin-bottom: 8%;
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: lightcoral;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
  border: 0.1em solid #fff;
}

.tab {
  padding: 30px;
  color: #fff;
  font-size: 1.2em;
  display: block;
  transition: all 0.3s ease-in-out;
}

.tab:hover {
  transform: scale(1.6);
}

.tab:first-child {
  margin-top: 38px;
}
