.delete-restaurant {
  width: 60%;
  margin-left: 30%;
  padding-top: 15%;
}

.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  /* position: relative; */
  border-radius: 10px;
  overflow: hidden;
}

.title-delete {
  font-family: "Dosis", sans-serif;
  font-size: 35px;
  color: rgb(53, 53, 53);
  font-weight: bold;
}

.sub-heading {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.493);
  font-weight: 400;
  font-size: 1.2rem;
}

.warning {
  display: flex;
  background: rgba(255, 143, 116, 0.116);
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.triangle {
  font-size: 3rem;
  color: rgb(255, 87, 87);
  margin-right: 20px;
}

.warn-para {
  color: rgb(92, 92, 92);
}

.yes-delete {
  border-radius: 5px;
  background: rgb(255, 94, 94);
  outline: 0;
  border: 0;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 190px;
  padding: 15px 10px;
}

.yes-delete:hover {
  opacity: 0.7;
  transition: 0.3s;
}
