.reply-input-field {
    border-color: rgba(204, 204, 204, 1); 
    transition: border-color, box-shadow 0.5s ease; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reply-input-field:focus {
    box-shadow: inset 0 0 0 2.5px rgba(227, 227, 227, 0.6);
    border-color: rgb(235, 235, 235) !important; 
}

.reply-input-field:hover{
    border-color: rgb(228, 228, 228) !important; 
}
